/* ---------------------
    RESET AND SET DEFAULTS
 --------------------- */
 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Clearfix */
.cf:before,.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
/* ---------------------
    HEADER
 --------------------- */
#top {
    width: 100%;
    font-size: 0;
}
#top > div {
    margin: 0 auto;
}
#top > div > img {
    height: 132px;
}
/* ---------------------
    MAIN CONTENT/Layout
 --------------------- */
#wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	border-top: 0px;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	-webkit-border-image:url(../img/border1.png) 30  round;
	-moz-border-image:url(../img/border1.png) 30  round;
	border-image:url(../img/border1.png) 30  round;
}
/* Base*/
body {
	background-color: #333;
	margin: 0 auto;
    width: 960px;
    font: 14px/1.5 normal Helvetica, Arial, Sans-serif;
}
/* Default margin-bottom to 1.5 of font-size */
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,iframe,
blockquote,address,table,fieldset,figure,pre,
.form-fields>li,hgroup {
	margin-top: 0;
	margin-bottom: 24px;
	margin-bottom: 1.5rem
}

#newsbox{
	margin-left: 10px;
	width: 580px;
	height: 370px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0px #888888;
}

.news {
    background: #eeeeee;
    width: 580px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0px #888888;
}

.news-section {
    background: #ffffff;
    margin: 1em;
	box-shadow: 0px 0px 5px 0px #888888;
}

.news-section p {
	padding: .5em;
    float: left;
    width: 450px;
}

.news-section strong {
	padding: .5em;
	padding-bottom: 0;
    float: left;
    width: 450px;
}

.news-section img {
    float: right;
    max-width: 80px;
	margin-top: 5px;
	margin-right: 5px;
}

/* Section styles */
.primary-content {
    margin-left: 20px;
    display: inline-block;
    width: 580px;
    float: left;
}

.sidebar {
    display: inline-block;
	margin-top: 20px;
    width: 320px;
    float: right;
    margin-right: 10px;
}



/* Other */
.video-preview {
         margin-left: 20px;
 }

.events {
        border-radius: 7px;
        box-shadow: 0px 0px 5px 0px #919191;
        background-color: #eee;
        
 }
.events td, tr:nth-of-type(even) {
        width: 320px;
        background-color: #eee;
        padding-left: 10px;

}

h2 {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-bottom: 0px;
	color: rgb(147,168,3);

}

h1 {
	font-size: 2.0rem;
    margin-left: 0px;
    margin-bottom: 0px;
	color: rgb(147,168,3);
}

a {
	color: rgb(147, 168, 3);
	text-decoration: none;
}

a:hover{
	color: #333333;
}

.events h2 {
        text-align:justify;
		color: rgb(147,168,3);
        padding-top: 3px;
 } 


.newsfeed {
    border-radius: 20px;
    width: 580px;
    height: 370px;
    background-color: #ffffff;
}

.newsfeed li {
    margin-left: 10px;
 }

.footer {
    font-size: 0.8rem;
}

strong {
	font-weight: bold;
}
/* ---------------------
    NAVI MENUE
 --------------------- */
.navi-top ul {
	display: block;
	height: 34px;
	width: 960px;
	clear: both;
	margin: 0 auto;

	background: #c4d450; /* Old browsers */
	background: -moz-linear-gradient(top, #c4d450 0%, #adbe22 20%, #97ac09 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4d450), color-stop(20%,#adbe22), color-stop(100%,#97ac09)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c4d450 0%,#adbe22 20%,#97ac09 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c4d450 0%,#adbe22 20%,#97ac09 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c4d450 0%,#adbe22 20%,#97ac09 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c4d450 0%,#adbe22 20%,#97ac09 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d450', endColorstr='#97ac09',GradientType=0 ); /* IE6-9 */
}

.navi-top li {
	display: inline-block;
	margin-top: 5px;
}

.navi-top a {
	color: #ffffff;
	text-decoration: none;
	padding: 6px 7px;
	border: none;
}
.navi-top a:hover {
	background: #b2c641; /* Old browsers */
	background: -moz-linear-gradient(top,  #b2c641 0%, #9cb018 20%, #8ea10a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2c641), color-stop(20%,#9cb018), color-stop(100%,#8ea10a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2c641 0%,#9cb018 20%,#8ea10a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2c641 0%,#9cb018 20%,#8ea10a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2c641 0%,#9cb018 20%,#8ea10a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b2c641 0%,#9cb018 20%,#8ea10a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2c641', endColorstr='#8ea10a',GradientType=0 ); /* IE6-9 */
	border: none;
}

.navi-object {
	float: left;
}

.search {
	float: right;
	margin-right: 1rem;
}

.search input {
	font-size: $fontSize*0.9;
	margin: 0;
	padding: 0;
}

/* HOME */
.textsection {
	width: 290px;
    float: left;
    border-right: 1px solid #ddd;
    padding-right: 9px;
    margin-right: 10px;
}

.illustration {
    width: 270px;
    float: right;
}

.main .illustration {
	margin-top: 40px;
}

/* CONTACT */
.contactphoto {
	float: right;
}

/* ABOUT */
.benefits li:before {
	position: aboslute;
	margin-right: 10px;
	content: url(../img/listitem.png);
}

.benefits li {
	margin-bottom: 5px;
}

.half-section a {
    display: inline-block;
}

.half-section img {
    max-width: 290px;
}

.half-section a:first-of-type {
    margin-right: 10px;
    padding-right: 9px;
    border-right: 1px solid #ddd;
}